@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

main {
  display: grid;
  height: 100%;
  grid-template-rows: 100px 900px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
        "nav nav"
        "list-nav recipe-info";

  .navigator {
    grid-area: nav;
    border-bottom: solid white 1px;
    .settings-nav {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
      .settings-nav-item {
        display: flex;
      }
    }
  }
  .recipe-list-nav {
    grid-area: list-nav;
  }
  .recipe-info {
    grid-area: recipe-info;
  }
}



/* .settings-nav {
  display: inline-flex;
}
.settings-nav-item {
  padding: 0 10px;
}

.recipe-list-nav {
  width: 500px;
  height: 100%;
  border-right: 1px solid white
} */